/*
|--------------------------------------------------------------------------
| List & Edit
|--------------------------------------------------------------------------
|
*/
.List,
.Edit {
  & > .submenu-core {
    text-transform: uppercase;
    margin-bottom: 35px;
    background-color: $gray-200;
    border-radius: $border-radius;
    .btn {
      font-size: 11px;
      line-height: 1.1;
    }
  }
  & > .header {
    float: left;
    h2 {
      // font-family: $font-family-monospace;
      padding-top: 5px;
      font-size: 26px;
    }
  }
  & > .actions,
  .action-wrap,
  .vgt-selection-info-row__actions {
    float: right;
    .btn {
      margin-left: 10px;
      padding: 10px 17px;
      cursor: pointer;
      &.dropdown-toggle-split {
        margin-left: 0;
        border-left: 1px solid darken($primary, 5%);
      }
      &.new {
        @extend .btn-primary;
      }
      &.back {
        @extend .btn-info;
      }
      &.save {
        @extend .btn-primary;
      }
      &.update {
        @extend .btn-primary;
      }
      &.call {
        @extend .btn-info;
      }
      &.cancel {
        @extend .btn-info;
      }
      &.delete.ask {
        @extend .btn-danger;
      }
      &.refresh {
        @extend .btn-outline-info;
      }
      &.print {
        @extend .btn-outline-info;
      }
      &.email,
      &.pdf {
        @extend .btn-outline-warning;
      }
    }
    .popover {
      // max-width: none;
      // width: 100%;
    }
    .popover-body {
      // min-width: 357px;
      // width: 100%;
      .action-wrap {
        float: none;
        & > .btn:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .modal-in-buttons {
    display: inline;
    & > div {
      display: inline;
      & > div {
        display: inline-block;
        .form-group {
          width: 100% !important;
          float: none !important;
          margin-right: 0 !important;
          label {
            color: $body-color;
          }
        }
      }
    }
  }
}

/*
|--------------------------------------------------------------------------
| Edit
|--------------------------------------------------------------------------
|
*/
.Edit {
  .form {
    clear: both;
    padding-top: 15px;
    margin: 0 0 40px 0;
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $gray-300;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $gray-300;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $gray-300;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $gray-300;
    }
    label {
      font-size: 12px;
      margin-bottom: 0.15rem;
    }
    .form-control {
      // font-size: 16px;
    }
    legend {
      float: left;
      text-transform: uppercase;
      font-size: 11px;
      font-family: $font-family-monospace;
      font-weight: bold;
      color: $gray-400;
    }
    .form-text.text-muted {
      min-height: 16px;
    }
    fieldset {
      padding: 20px;
      background: rgba(#fff, 0.4);
      border-bottom: 1px solid $gray-400;
      margin-bottom: 20px;
      margin-top: 10px;
      &.extra-mtop {
        margin-top: 30px;
      }
      &.no-mtop {
        margin-top: 0px;
      }
    }
    .no-label {
      label {
        display: none;
      }
    }
    // Fields
    .fields-form {
      overflow: hidden;
    }
    .form-control-print {
      display: none;
    }
    // form-group
    .form-group,
    .block-data {
      position: relative;
      width: 30.333%;
      margin-right: 3%;
      float: left;
      .has-error {
        border-color: $danger;
      }
      .error {
        right: 2px;
        position: absolute;
        font-style: italic;
        font-size: 11px;
        color: $danger; 
      }
      &.textarea {
        // width: 63.666%
        textarea {
          min-height: 130px;
        }
      }
      &.w100 {
        width: 100%;
        margin-right: 0;
        float: none;
        clear: both;
      }
      &.w50 {
        width: 47%;
      }
      &.w75 {
        width: 72%;
      }
      &.w25 {
        width: 22%;
      }
      &.w66 {
        width: 63.666%;
      }
      &.w33 {
        width: 30.333%;
      }
      .color-pick {
        padding: 0 10px 10px;
      }
    }
    .block-data {
      margin-bottom: 0.15rem;
    }
    .custom-select {
      display: block;
    }
    hr.form {
      clear: both;
      margin: 10px 0 15px 0;
      padding-top: 0;
      border-top: 1px dashed $gray-400;
    }
    h3.inForm {
      font-size: 20px;
    }
    .row_form {
      clear: both;
    }
    .table_form.style {
      padding: 20px;
      background: rgba(#fff, 0.6);
      border-bottom: 1px solid $gray-400;
      margin-bottom: 20px;
      margin-top: 10px;
      h3 {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        color: $gray-400;
      }
    }
    .table_form,
    .image_form {
      clear: both;
      // margin-top: 30px;
      // padding-top: 30px;
      // border-top: 1px dashed $gray-400;
      input.number {
        width: 80px;
        .budget-new-customer &,
        .budget-new-paper & {
          width: 50px;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
      th.npiece,
      th.price,
      th.total {
        width: 100px;
      }
      th.npiece {
        width: 50px;
      }

      .List.Inline {
        margin: 0;
        // padding: 0;
        // border: 0;
      }
    }
    .date-document {
      font-size: 16px;
      padding-top: 5px;
      top: 0;
      right: 20px;
      text-align: right;
    }
    // Date
    .vdp-datepicker {
      .form-control[readonly] {
        background: #fff;
      }
      .vdp-datepicker__calendar {
        .cell {
          &.today {
            color: #fff;
            background-color: $secondary;
          }
          &.selected {
            background-color: $primary;
          }
        }
      } 
    }
    .ListInlineTotal {
      text-align: right;
      padding: 20px;
      background: rgba(#fff, 0.6);
      border-bottom: 1px solid $gray-400;
      margin-bottom: 20px;
      margin-top: 10px;
      .data {
        border-bottom: 1px solid $gray-300;
        padding-bottom: 10px;
        &.total {
          // margin-bottom: 40px;
          border: 0;
        }
      }
      span {
        display: inline-block;
        font-size: 16px;
        margin-right: 30px;
      }
      h4 {
        font-size: 20px;
        line-height: 0.9;
        margin: 10px 0 0 0;
        span {
          font-size: 20px;
        }
        rt {
          font-weight: 300;
          font-size: 14px;
        }
      }
      h5 {
        font-size: 14px;
        font-weight: 300;
        margin: 10px 0 0 0;
        span {
          font-size: 14px;
        }
      }
      h3 {
        font-size: 26px;
        line-height: 0.8;
        margin: 10px 0 0 0;
        span {
          font-size: 26px;
        }
        rt {
          font-weight: 300;
          font-size: 18px;
        }
      }
      strong {
        display: inline-block;
        width: 200px;
      }
      .form-group.select {
        display: inline;
        select {
          font-size: 14px;
          padding: 0.175rem 1.75rem 0.175rem 0.75rem;
          line-height: 1.2;
          height: calc(1.75rem + 2px);
          width: auto;
          display: inline;
        }
      }
    }
    // Photos
    .dropbox {
      padding: 20px;
      background: rgba(#fff, 0.4);
      border-bottom: 1px solid $gray-400;
      margin-bottom: 20px;
      margin-top: 10px;
      h3 {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        color: $gray-400;
      }
      .photos-list {
        list-style: none;
        padding: 0;
        margin: 10px 0 0 0;
        overflow: hidden;
        li {
          display: block;
          float: left;
          position: relative;
          padding: 0 10px 10px 0;
          small {
            top: 10px;
            left: 10px;
            background-color: $primary;
            padding: 4px;
            color: #fff;
            position: absolute;
          }
          img {
            width: auto;
            height: 100px;
            background-color: $gray-400;
            min-width: 50px;
          }
        }
      }
      .photos-btns {
        // float: left;
        margin-bottom: 10px;
        .btn {
          margin-right: 10px;
          @extend .btn-sm;
          &.file {
            @extend .btn-outline-primary;
          }
          &.upload {
            @extend .btn-primary;
          }
          &.cancel {
            @extend .btn-info;
          }
          &.delete {
            @extend .btn-danger;
          }
          &.delete.ask {
            @extend .btn-danger;
          }
          &.upload,
          &.cancel,
          &.delete,
          &.delete.ask {
            position: relative;
            top: -1px;
          }
        }
      }
    }
    // File
    .btn-file {
      position: relative;
      top: 4px;
      overflow: hidden;
    }
    .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
  }
}

/*
|--------------------------------------------------------------------------
| List
|--------------------------------------------------------------------------
|
*/
.List {
  & > .header {
    h2 {
      margin-bottom: 40px;
    }
  }
  .filters {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
  }
  // Table
  .vgt-wrap {
    margin: 0 0 40px 0;

    table {
      // Thead
      thead th {
        color: #fff;
        background-color: $secondary;
        border-color: lighten($secondary, 5%);
        position: relative;

        &.filter-th {
          padding: 0.45rem 0.75rem;
          .vgt-select,
          .vgt-input {
            @extend .form-control;
            font-size: 0.8rem;
            height: calc(1.75rem + 2px);
          }
        }
      }
      &.primary {
        thead th {
          background-color: $primary;
          border-color: lighten($primary, 5%);
        }
      }
      // Actions
      th.actions,
      td.actions {
        width: 205px !important;
        text-align: right;

        &.sorting,
        &.sorting-asc,
        &.sorting-desc {
          cursor: auto;
          &:after {
            display: none !important;
          }
        }

        .btn {
          padding: 0.32rem 0.6rem 0.42rem;
          position: relative;
          top: -3px;
          cursor: pointer;

          margin-right: 5px;
          // margin-bottom: 5px;
          // SM
          @extend .btn-sm;

          &.edit {
            @extend .btn-outline-success;
          }
          &.delete {
            @extend .btn-danger;
            font-weight: bold;
          }
          &.cancel {
            @extend .btn-info;
          }
          &.delete.ask {
            @extend .btn-danger;
            font-weight: normal;
          }
          &.call {
            @extend .btn-info;
          }
        }
      }
      // Sort
      th.sorting {
        cursor: pointer;
        &:after {
          content: "";
          display: none;
          position: absolute;
          height: 0;
          width: 0;
          right: 6px;
          top: 50%;
          margin-top: -3px;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid $primary;
        }
        &.sorting-asc:after {
          display: inline-block;
        }
        &.sorting-desc:after {
          display: inline-block;
          border-top: 6px solid $primary;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: none;
        }
      }
      tbody td,
      tbody th {
        padding: 10px 10px 4px;
        vertical-align: middle;
        &.vgt-checkbox-col {
          cursor: pointer;
          &::after {
            content: ' ';
            width: 20px;
            height: 20px;
            background: $gray-300;
            border: 1px solid $gray-400;
            border-radius: 20px;
            display: block;
          }
        }
      }
      tbody tr {
        &.active {
          background: rgba($primary, 0.1);
          .vgt-checkbox-col {
            &::after {
              background: $primary;
            }
          }
        }
        .vgt-checkbox-col {
          input {
            display: none;
          }
        }
      }
      tbody td {
        h3 {
          margin: 0;
          font-size: 16px;
          font-weight: bold;

        }
        small {
          display: block;
          font-size: 12px;
        }
        .user {
          font-size: 8px;
          border-radius: 10px;
          padding: 2px 4px;
          margin-left: 5px;
          background: $gray-400;
          position: relative;
          top: -2px;
        }
      }
      // ID
      th.id,
      td.id {
        font-weight: bold;
        width: 52px !important;
      }
      td.id {
        font-size: 12px;
        span {
          position: relative;
          top: 7px;
          min-height: 35px;
          display: block;
        }
      }
      // Checkbox
      th.vgt-checkbox-col {
        width: 40px !important;
      }
      // Line-numbers
      th.line-numbers,
      td.line-numbers {
        color: $gray-400;
        font-size: 11px;
        width: 42px !important;
      }
      .highlight {
        background: yellow;
      }
    }
    // Search
    .vgt-global-search {
      float: right;
      margin-bottom: 0;

      .vgt-global-search__input {
        @extend .form-group;
        margin-bottom: 0;
        input {
          @extend .form-control;
          height: calc(2.550rem + 2px);
          line-height: 1.6;
        }
      }
    }
    // Selection
    .vgt-selection-info-row {
      float: none;
      clear: both;
      font-size: 13px;
      color: #fff;
      background-color: $secondary;
      border-color: lighten($secondary, 5%);
      padding: 12px 2px 1px 15px;
      // Actions
      .vgt-selection-info-row__actions {
        .btn {
          position: relative;
          top: -5px;
          margin-right: 5px;
          margin-left: 2px;
          // SM
          @extend .btn-sm;
        }
      }
    }
    // Footer
    .vgt-wrap__footer {
      font-size: 12px;
      .footer__row-count {
        float: left;
        width: 30%;
      }
      .footer__navigation {
        float: right;
        width: 70%;
        text-align: right;
        a,
        .footer__navigation__info {
          display: inline;
        }
        a {
          @extend .btn;
          @extend .btn-sm;
          @extend .btn-link;
        }
      }
    }
  }
}

/*
|--------------------------------------------------------------------------
| ListInline
|--------------------------------------------------------------------------
|
*/
.List.Inline {
  margin-top: 20px;
  
  // padding-top: 10px;
  // border-top: 1px dashed $gray-400;


  padding: 20px;
  background: rgba(#fff, 0.6);
  border-bottom: 1px solid $gray-400;
  margin-bottom: 20px;

  overflow: hidden;
  clear: both;
  float: none;
  & > .header {
    h3 {
      text-transform: uppercase;
      font-size: 11px;
      font-family: $font-family-monospace;
      font-weight: bold;
      color: $gray-400;
      margin-bottom: 20px;
    }
  }
  & > .actions {
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
    float: left;
    clear: both;
    .btn {
      margin-right: 10px;
      margin-left: 0;
      @extend .btn-sm;

      &.new {
        @extend .btn-secondary;
      }
      &.assign {
        @extend .btn-primary;
      }
    }
  }
  // Table
  .vgt-wrap {
    margin: 0 0 10px 0;
  }
}


/*
|--------------------------------------------------------------------------
| Media
|--------------------------------------------------------------------------
|
*/
@include respond-between(xs, sm) {
  // AQUI
  .List,
  .Edit {
    & > .header {
      float: none;
      h2.hidden-print {
        text-align: left;
        font-size: 16px;
        line-height: 1;
        font-weight: bold;
        position: fixed;
        left: 60px;
        top: 12px;
        margin-bottom: 0;
        z-index: 1030;
        span {
          margin-top: -2px;
          margin-left: 3px;
          display: block;
          float: right;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
    & > .actions,
    .action-wrap,
    .vgt-selection-info-row__actions {
      float: none;
      text-align: right;
      .btn {
        padding: 11px 17px 12px;
        &.back {
          position: fixed;
          top: 7px;
          left: 16px;
          z-index: 1031;
          margin: 0;
          padding: 9px 10px;
          background-color: $primary;
          // background: none;
          color: $secondary;
          border: 0;
        }
      }
    }
   
    // Table
    .vgt-wrap {
      clear: both;
      padding-top: 12px;
      padding-bottom: 30px;
      // SEARCH
      .vgt-global-search {
        float: none;
        margin-bottom: 20px;
      }
      // TABLE
      table {
        th,
        td {
          &.actions {
            width: 135px !important;
            .btn {
              padding: 12px 17px 14px;
              margin-bottom: 5px;
            }
          }
        }
      }
      .vgt-wrap__footer {
        .footer__row-count {
          float: none;
          width: 100%;
          text-align: center;
          margin-top: 10px;
        }
        .footer__navigation {
          float: none;
          width: 100%;
          text-align: center;
          margin-top: 10px;
        }
      }
    }
  }
  .List.Inline {
    & > .header {
      h3 {
        font-size: 17px;
      }
    }
    .vgt-wrap {
      .vgt-responsive {
        overflow-x: auto;
      }
    }
  }
  .Edit {
    .form {
      .image_form {
        margin-bottom: 20px;
      }
      .form-group,
      .block-data {
        width: 100%;
        margin-right: 0;
        float: none;
        &.textarea,
        &.w100,
        &.w50,
        &.w75,
        &.w25,
        &.w66,
        &.w33 {
          width: 100%;
          margin-right: 0;
        }
      }
      .dropbox {
        h3 {
          font-size: 17px;
        }
      }
      .ListInlineTotal {
        h3,
        h4 {
          span,
          strong {
            margin-right: 0;
            width: 45%;
          }
          span {
            margin-right: 10%;
          }
        }
      }
    }
  }
  .List {
    .vgt-selection-info-row__actions {
      margin-top: 20px;
    }
    .filters {
      margin-left: 0;
    }
    & > .vgt-wrap {
      & > .vgt-inner-wrap {
        & > .vgt-responsive,
        & > .vgt-selection-info-row {
          margin: 0 -15px;
        }
      }
    }
  }
}