/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.navbar.main {
  .navbar-brand {
    font-weight: 900;
    color: $secondary;
    text-transform: uppercase;
  }
  .navbar-nav {
    .nav-item {
      .fa-icon {
        margin-top: -3px;
      }
      &.dashboard{
        border-right: 1px solid rgba(#fff, 0.2);
        margin-right: 10px;
        padding-right: 10px;
      }
      &.logout {
      	small {
      		position: relative;
      		top: -2px;
      		font-size: 11px;
      	}
      }
    }
  }
}
.navbar.foot {
  display: none;
}

/*
|--------------------------------------------------------------------------
| Menun App
|--------------------------------------------------------------------------
|
*/
.menu-app {
  margin-right: 10px;
  cursor: pointer;
  &.open {
    color: $white;
  }
}

/*
|--------------------------------------------------------------------------
| Media
|--------------------------------------------------------------------------
|
*/
@include respond-between(xs, lg) {
  .menu-app {
    display: none !important;
  }
  .navbar.main {
    .navbar-toggler {
      padding: 7px 10px 11px;
      border: 0;
      outline: none;
      .fa-icon {
        color: $secondary;
      }
    }
    .navbar-nav {
      // margin: 1rem -1rem 0 !important;
      overflow-y: auto;
      a {
        font-size: 16px;
        border-top: 1px solid rgba(#fff, 0.2);
        padding: 0.5rem 1rem !important;
      }
    }
  }
}
@include respond-between(xs, md) {
  .navbar.main {
    .navbar-brand {
      display: none;
    }
  }
  .navbar.foot {
    display: flex;
    padding: 0;
    .navbar-nav {
      flex-direction: row;
      width: 100%;
      .nav-item {
        text-align: center;
        font-size: 12px;
        .nav-link {
          padding: 10px 5px 5px;
          border-right: 1px solid rgba(#fff, 0.1);
          .fa-icon {
            min-height: 16px;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
