/*
|--------------------------------------------------------------------------
| List & Edit
|--------------------------------------------------------------------------
|
*/
.List,
.Edit {
  & > .header {
    float: left;
    h2 {
      padding-top: 5px;
      font-size: 26px;
    }
  }
  & > .actions {
    float: right;
    .btn {
      margin-left: 10px;
      &.new {
        @extend .btn-primary;
      }
      &.back {
        @extend .btn-light;
      }
      &.save {
        @extend .btn-primary;
      }
      &.update {
        @extend .btn-primary;
      }
    }
  }
}
.List.Inline {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px dashed $gray-400;
  & > .header {
    h3 {
      padding-top: 5px;
      font-size: 20px;
    }
  }
  & > .actions {
    margin-bottom: 30px;
    .btn {
      &.new {
        @extend .btn-secondary;
      }
    }
  }
}

/*
|--------------------------------------------------------------------------
| Edit
|--------------------------------------------------------------------------
|
*/
.Edit {
  .form {
    clear: both;
    margin: 0 0 40px 0;
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $gray-300;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $gray-300;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $gray-300;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $gray-300;
    }
  }
}

/*
|--------------------------------------------------------------------------
| List
|--------------------------------------------------------------------------
|
*/
.List {
  // Table
  .vgt-wrap {
    margin: 0 0 40px 0;

    table {
      // Thead
      thead th {
        color: #fff;
        background-color: $secondary;
        border-color: lighten($secondary, 5%);
      }
      // Actions
      th.actions,
      td.actions {
        width: 210px !important;

        .btn {
          margin-right: 5px;
          // SM
          @extend .btn-sm;

          &.edit {
            @extend .btn-primary;
          }
          &.delete {
            @extend .btn-warning;
          }
          &.cancel {
            @extend .btn-info;
          }
          &.delete.ask {
            @extend .btn-danger;
          }
        }
      }
      // ID
      th.id,
      td.id {
        font-weight: bold;
        width: 40px !important;
      }
      td.id {
        font-size: 12px;
      }
      // Line-numbers
      th.line-numbers,
      td.line-numbers {
        color: $gray-400;
        font-size: 11px;
        width: 42px !important;
      }
      .highlight {
        background: yellow;
      }
    }
  }

  // Search
  .vgt-global-search {
    float: right;
    margin-bottom: 15px;

    .vgt-global-search__input {
      @extend .form-group;

      input {
        @extend .form-control;
      }
    }
  }
}

/*
|--------------------------------------------------------------------------
| ListInline
|--------------------------------------------------------------------------
|
*/
.List.Inline {
  // Table
  .vgt-wrap {
    margin: 0 0 10px 0;
  }
}