/*
|--------------------------------------------------------------------------
| Fix
|--------------------------------------------------------------------------
|
*/
a:not([href]):not([tabindex]) {
    color: $white
}