/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.navbar {
  .navbar-nav {
    .nav-item {
      .fa-icon {
        margin-top: -3px;
      }
      &.logout {
      	small {
      		position: relative;
      		top: -2px;
      		font-size: 11px;
      	}
      }
    }
  }
}