/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
|
*/
$primary: #42b883;
$secondary: #35495e;

$body-bg: #efefef;
$body-color: $secondary;
